{% extends 'base.html' %}
{% block content %}
{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="enter movie name"><br>
    <input type="text" name="description" placeholder="enter movie desc"><br>
    <input type="text" name="year" placeholder="enter movie year"><br>
    <input type="text" name="actors" placeholder="enter actors name"><br>
    <input type="text" name="category" placeholder="enter category name"><br>
    <input type="file" name="image" ><br>
    <input type="url" name="url" placeholder="Youtube trailer link"><br>
    <input type="date" name="release_date" placeholder="enter release date"><br>
    <input type="submit">

</form>
{% endblock %}
{% endblock %}
